
@use "./globalVars" as *;

.Jordandde {
  padding-left: 20px;
  @media only screen and (max-width: 750px) {
    display: none;
  }
}

.container {
    @include global_container;
    background: linear-gradient(180deg, $color-lilac 10%, $color-violet 60%, $color-turqoise);
  height: 200vh;
  align-items: center;
}

.card {
  @include card;
  background: conic-gradient($color-violet, $color-lilac, $color-violet);
  color: $color-pink;
  width: 20vw;
  height: 20vh;
  font-size:2rem;
  margin: 10vh 10vw;
  &:hover {
    font-size: 2rem;
    color: $color-peach;
    transform: none;
  }
}

.sticky_banner {
  @include banner;
  position: sticky;
}

.banner {
  @include banner;
  font-size:4vh;
  color:$color-pink;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
